body{margin: 0}
#Tag-div{
    position: absolute;
    font-family: AcadEref Gabriola sans-serif;
}
.menu-div{

    margin:0;
    background: cadetblue;
    height: 57rem;
    width: 250px;
    position: absolute;
    left: -250px;
    transition: left 1s ease 0s;
    & h3{
        margin-left: 15px;
    }

    & .EDIT-div{
        margin:10px ;
        & img{
            float: left;
        }
        & div{
            margin-left: 25px;
        }
    }
    & .FAVRITES-div{
        margin:10px ;
        & img{
            float: left;
        }
        & div{
            margin-left: 25px;
        }
    }
    & .HISTORY-div{
        margin:10px ;
        & img{
            float: left;
        }
        & div{
            margin-left: 25px;
        }


    }
    & .SECURITY-div{
        margin:10px ;
        & img{
            float: left;
        }
        & div{
            margin-left: 25px;
        }
    }

    & .SETTINGS-div{
        margin:10px ;
        & img{
            float: left;
        }
        & div{
            margin-left: 25px;
        }
    }

}

.menu-div::after{
    content: "MENU";
    background-color: brown;
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 5px 0;
    position: absolute;
    left: 260px;
    top: 205px;
    width: 200px;
    transform: rotate(-90deg);
    transform-origin: 0 ;
}

.menu-div:hover{
    left: 0;

}