body{margin: 0}
#Tag-div{
    position: absolute;
    font-family: AcadEref Gabriola sans-serif;
}
.menu-div{

    margin:0;
    background: cadetblue;
    position: absolute;
    width: 48px;
    height: 990px;
    transition: width 2s;
    transition-timing-function: linear;

    & h5{
        margin-left: 8px;
        font-size: 12px;
    }

    & ol li{
        padding: 10px;

    }
    & .EDIT-li{
        list-style-image: url("İmages/edit.png");
        & p{
            display: none;
        }
    }
    & .FAVRITES-li{
        list-style-image: url("İmages/favorite.png");
        & p{
            display: none;
        }
    }
    & .HISTORY-li{
        list-style-image: url("İmages/history.png");
        & p{
            display: none;
        }
    }

    & .SECURITY-li{
        list-style-image: url("İmages/shield.png");
        & p{
            display: none;
        }
    }

    & .SETTINGS-li{
        list-style-image: url("İmages/settings.png");
        & p{
            display: none;
        }
    }




}




.menu-div:hover{
    width: 200px;
    & p{
        display: unset;
    }



}